body{
    background-color: black;
}
#loginForm{
    width: 300px;
}
#submit{
    border-radius: 5px;
    background-color:deepskyblue;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1,p{
    color: white;
}